body {
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body button {
  cursor: pointer;
}

body img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.flexy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.relative {
  position: relative;
}

.no-style-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-header {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .sub-header {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

.page-header {
  font-weight: 500;
  color: #212121;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: Raleway, Tahoma, sans-serif;
  font-size: 24px;
  text-decoration: none;
  line-height: 1.16;
  font-weight: 700;
  color: #212121;
}

@media screen and (min-width: 768px), (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-header__logo {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.logo__text--blue-accent {
  color: #2196f3;
}

.icon-mobile-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .icon-mobile-menu {
    display: inline-block;
    fill: #212121;
  }
  .icon-mobile-menu:hover, .icon-mobile-menu:focus {
    fill: #2196f3;
  }
}

.header__inner-menu {
  display: block;
}

@media screen and (max-width: 767px) {
  .header__inner-menu {
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 48px 40px;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .header__inner-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__inner-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__nav {
    margin-right: 84px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 302px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link.is-active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation__link {
    display: block;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link.is-active::after {
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:first-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-left: 30px;
  }
}

.icon-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .icon-contacts {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts__mail:hover .icon-contacts {
  fill: #2196f3;
}

.contacts__tel {
  text-decoration: inherit;
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .contacts__tel {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__tel {
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contacts__tel:hover, .contacts__tel:focus {
  color: #2196f3;
}

.contacts__mail {
  text-decoration: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .contacts__mail {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__mail {
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contacts__mail:hover, .contacts__mail:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .mobile-socials {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .mobile-socials {
    display: none;
  }
}

.mobile-socials__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-socials__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: inherit;
  color: #2196f3;
}

.icon-mobile-social {
  display: inline-block;
  fill: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.basement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .basement__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .basement__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .basement__logo-and-address {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .basement__logo-and-address {
    margin-right: 70px;
  }
}

.basement__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.logo__text--blue-accent {
  color: #2196f3;
}

.logo__text--white-accent {
  color: #ffffff;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.phys-address,
.address__mail,
.address__tel {
  color: inherit;
  text-decoration: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail:hover,
.address__mail:focus,
.address__tel:hover,
.address__tel:focus {
  color: #2196f3;
}

.phys-address {
  color: #ffffff;
}

.phys-address:hover, .phys-address:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .basement__social {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .basement__social {
    margin-bottom: 60px;
  }
}

.basement__header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.social__link--gray-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.basement__icon-social {
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .basement__form {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .basement__form {
    margin-left: 93px;
  }
}

.input-and-btn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .input-and-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.basement__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .basement__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1199px) {
  .basement__input {
    width: 358px;
    margin-right: 12px;
  }
}

.basement__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.basement__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.basement__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.basement__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.basement__btn {
  width: 200px;
  height: 50px;
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin-bottom: 0;
  }
  .clients__item:last-child {
    margin-right: 0;
  }
}

.client__pic {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__pic:hover {
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .client__pic {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client__pic {
    width: 170px;
  }
}

.icon-client {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__pic:hover .icon-client {
  fill: #2196f3;
}

.features {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
}

@media screen and (min-width: 768px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features__item {
  margin-bottom: 30px;
}

.features__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
    min-height: 251px;
    margin-right: 30px;
  }
  .features__item:nth-child(2n) {
    margin-right: 0;
  }
  .features__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin-bottom: 0;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-pic {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature-describer {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feature-describer__header {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.feature-describer__text {
  line-height: 1.71;
  color: #757575;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 12px;
}

.form__label {
  display: block;
  margin-bottom: 10px;
}

.label__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form__label:focus-within .form__input {
  border-color: #2196f3;
}

.icon-form {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: currentColor;
}

.form__label:focus-within .icon-form {
  fill: #2196f3;
}

.form__contract {
  text-align: center;
}

.form__input--large {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
}

.form__input--large::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input--large:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input--large::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input--large::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contract__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 3px solid #212121;
  border-radius: 4px;
  background-size: cover;
  background-origin: border-box;
}

.contract__checkbox:checked + .icon-check {
  background-color: #2196f3;
  background-image: url(../images/svg/check.svg);
  border-color: #2196f3;
}

.contract__agreement {
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.contract__link--blue-accent {
  color: #2196f3;
  text-decoration-thickness: 0.01em;
}

.modal__btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close:hover .icon-close,
.modal__close:focus .icon-close {
  fill: #2196f3;
}

.our-business {
  display: none;
}

@media screen and (min-width: 1200px) {
  .our-business {
    display: block;
    padding-bottom: 94px;
  }
}

.our-business__item:not(:last-child) {
  margin-right: 30px;
}

.our-business__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-business__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-btns {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-btns {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-btns {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter-btns__item {
    margin-top: 15px;
  }
}

.filter-btns__item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__cards {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .portfolio__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__cards {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.product {
  margin-bottom: 30px;
  border: 1px solid #eee;
}

.product:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .product {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product {
    width: 354px;
  }
  .product:nth-child(2n) {
    margin-right: 0;
  }
  .product:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    width: 370px;
  }
  .product:nth-child(3n) {
    margin-right: 0;
  }
  .product:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.product__link {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product__text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.text__header {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}

.text__subheader {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.relative--hidden {
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.slogan {
  min-width: 100vw;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .slogan {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-img/slogan-bg-mobile.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-img/slogan-bg-mobile.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slogan {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-img/slogan-bg-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-img/slogan-bg-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .slogan {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-img/slogan-bg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-img/slogan-bg.jpg");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slogan {
    background-image: url("../images/index-img/slogan-bg.jpg");
  }
}

.slogan__text {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .slogan__text {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .slogan__text {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.btn {
  padding: 0;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
}

.slogan__btn {
  padding: 10px 32px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.icon-social {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .icon-social,
.social__link:focus .icon-social {
  fill: #ffffff;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__cards {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .team__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team__cards {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-member {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 1199px) {
  .team-member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-member {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
    margin-right: 30px;
  }
  .team-member:nth-child(2n) {
    margin-right: 0;
  }
  .team-member:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    margin-bottom: 0;
  }
  .team-member:not(:last-child) {
    margin-right: 30px;
  }
}

.team-member__text {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-member__text {
    padding-bottom: 30px;
  }
}

.team-member__name,
.team-member__rank {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team-member__rank {
  margin-bottom: 16px;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */