
.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $main-background-color;
}

.basement__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.basement__logo-and-address {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   margin-right: 165px;
  // }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;    
  }
}

.basement__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.logo__text {
  
  &--blue-accent {
    color: $additional-and-hover-color;
  }

  &--white-accent {
    color: $white;
  }
}

.address {
  @include font(14px, 400, 1.71, 0.03em);
  font-style: normal;
  color: $footer-font-color;
  text-decoration: none;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;    
  }
}

.phys-address,
.address__mail,
.address__tel {
  color: inherit;
  text-decoration: inherit;
  transition: color $transition;
}

.address__mail:hover,
.address__mail:focus,
.address__tel:hover,
.address__tel:focus {
  color: $additional-and-hover-color;
}

.phys-address {
  color: $white;

  &:hover,
  &:focus {
    color: $additional-and-hover-color;
  }
}

.basement__social {
  @media screen and (max-width: 1199px) {
    text-align: center;    
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.basement__header {
  @include font(14px, 700, 1.14, 0.03em);
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $white;
}

.social__link--gray-bg {
  background-color: $footer-social-bg-color;
}

.basement__icon-social {
  fill: $white;
}

.basement__form {
  @media screen and (max-width: 480px) {
    width: 100%;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;    
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
}
}

.input-and-btn {
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.basement__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $footer-font-color;
  outline: none;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
  
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1199px) {
    width: 358px;
    margin-right: 12px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: $footer-font-color;
    letter-spacing: 0.03em;
  }
  
}

.basement__btn {
  width: 200px;
  height: 50px;
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}
