.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients__item {
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.client__pic {
  width: 210px;
  height: 92px;
  border: 1px solid $team-social-icon-color;
  border-radius: 4px;
  transition: border-color $transition;

  &:hover {
      border-color: $additional-and-hover-color;
  }
  
  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }


}

.icon-client {
  fill: $team-social-icon-color;
  transition: fill $transition;

  .client__pic:hover & {
      fill: $additional-and-hover-color;
  }
}
