.features {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    & {
  padding-top: 94px;
  padding-bottom: 94px;
    }
  }
}

.features__list {
  flex-direction: column;
  min-width: 100%;

  @media screen and (min-width: 768px) {
    & {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      flex-wrap: nowrap;
    }
  }

}

.features__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & {
      flex-basis: 354px;
      min-height: 251px;
      margin-right: 30px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: 270px;
      margin-bottom: 0;
    }
    &:not(:last-child) {
        margin-right: 30px;
  }
  }
}


.feature-pic {
  height: 120px;
  margin-bottom: 30px;
  background-color: $support-background-color;
  border-radius: 4px;
}

.feature-describer {
  @include font(14px, 700, 1.14, 0.03em);
}

.feature-describer__header {
  margin-bottom: 10px;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature-describer__text {
  line-height: 1.71;
  font-weight: 400;
  color: $font-support-color;
}