.page-header {
    position: relative;
  font-weight: 500;
  color: $font-lead-color;
  border-bottom: 1px solid $header-border-color;
}

.page-header__container {
  justify-content: space-between;
}

.logo {
  font-family: Raleway, Tahoma, sans-serif;
  font-size: 24px;
  text-decoration: none;
  line-height: 1.16;
  font-weight: 700;
  color: $font-lead-color;

  @media screen and (min-width: 768px), (min-width: 1200px) {
    & {
      font-size: 26px;
      line-height: 1.19;
    }
  }
}

.page-header__logo {
  padding: 16px 0;

  @media screen and (min-width: 768px) {
    & {
      margin-right: 88px;
      padding: 26px 0;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      margin-right: 93px;
    }
  }
}

.logo__text--blue-accent {
  color: $additional-and-hover-color;
}

.page-header__menu-btn {
  display: inline-block;
  background-color: transparent;
  border: none;

  &:hover .icon-mobile-menu,
  &:focus .icon-mobile-menu {
    fill: $additional-and-hover-color;
  }

  &.is-open {
    z-index: 3;
  }

  &.is-open .icon-mobile-menu {
    position: fixed;
    right: 15px;
    top: 10px;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-burger {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-cross {
  display: none;
}

.icon-mobile-menu {
  fill: $font-lead-color;
  @media screen and (max-width: 767px) {
      display: inline-block;
  }
}

.page-header__inner-menu {
  display: none;

  @media screen and (max-width: 767px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 48px 40px;
      background-color: $white;
      z-index: 2;

      .page-header__menu-btn.is-open ~ & {
    display: block;
  }
  }

  @media screen and (min-width: 768px) {
      display: flex;
  }

  @media screen and (min-width: 1200px) {
    & {
      justify-content: space-between;
      flex-grow: 1;
    }
  }
}

.page-header__nav {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & {
      margin-right: 84px;
    }
  }
}

.navigation {
  @media screen and (max-width: 767px) {
    & {
      flex-direction: column;
      align-items: start;
      margin-bottom: 302px;
    }
  }
}

.navigation__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    & {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      margin-right: 50px;
    }
  }
}

.navigation__link {
  display: block;
  @include font(40px, 500, 1.18, 0.02em);
  text-decoration: none;
  color: inherit;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $additional-and-hover-color;
  }

  &.is-active {
    color: $additional-and-hover-color;
  }

  &.is-active::after {
      position: absolute;
      bottom: -1px;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: $additional-and-hover-color;
      border-radius: 2px;
    }

    @media screen and (max-width: 479px) {
      @include font(28px, 500, 1.18, 0.02em);
    }

  @media screen and (min-width: 768px) {
    & {
      display: block;
      padding: 32px 0;
      @include font(14px, 500, 1.14, 0.02em);
      text-decoration: none;
      color: inherit;
      transition: color $transition;
    }
    
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    & {
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-bottom: 64px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      flex-direction: column;
      align-items: start;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      flex-direction: row;
      flex-shrink: 0;
      margin-left: auto;
    }
  }
}

.contacts__item:not(:first-child) {
  @media screen and (max-width: 767px) {
    & {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      margin-left: 30px;
    }
  }
}

.icon-contacts {
  display: none;
  @media screen and (min-width: 768px) {
    & {
      display: inline-block;
      margin-right: 10px;
      fill: currentColor;
      transition: fill $transition;
    }
  }
  .contacts__mail:hover & {
    fill: $additional-and-hover-color;
  }
}

.contacts__tel {
  text-decoration: inherit;
  color: $additional-and-hover-color;
  transition: color $transition;
  @include font(34px, 500, 1.18, 0.02em);

  @media screen and (max-width: 479px) {
    @include font(24px, 500, 1.18, 0.02em)
  }

  @media screen and (min-width: 768px) {
    & {
      @include font(12px, 500, 1.17, 0.02em);
      color: $font-support-color;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      padding: 32px 0;
      @include font(14px, 500, 1.14, 0.02em);
    }
  }

  &:hover,
  &:focus {
    color: $additional-and-hover-color;
  }
}

.contacts__mail {
  text-decoration: inherit;
  transition: color $transition;
  @include font(24px, 500, 1.17, 0.02em);
  color: $font-support-color;

  @media screen and (max-width: 479px) {
    @include font(18px, 500, 1.17, 0.02em);
  }

  @media screen and (min-width: 768px) {
    & {
      @include font(12px, 500, 1.17, 0.02em);
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      padding: 32px 0;
      @include font(14px, 500, 1.14, 0.02em);
    }
  }

  &:hover,
  &:focus {
    color: $additional-and-hover-color;
  }
}

.mobile-socials {
  @media screen and (max-width: 767px) {
    & {
      justify-content: flex-start;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      display: none;
    }
  }
}

.mobile-socials__item:not(:last-child) {
  margin-right: 10px;
  align-items: center;

  &::after {
    display: inline-block;
    content:'';
    width: 1px;
    height: 22px;
    margin-left: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mobile-socials__text {
  @include font(18px, 500, 1.22, 0.02em);
  text-decoration: inherit;
  color: $additional-and-hover-color;

  @media screen and (max-width: 479px) {
    @include font(12px, 500, 1.22, 0.02em);
  }
}

