$backdrop-color: rgba(0, 0, 0, 0.2);
$font-lead-color: #212121;
$font-support-color: #757575;
$additional-and-hover-color: #2196f3;
$white: #ffffff;
$main-background-color: #2f303a;
$footer-font-color: rgba(255, 255, 255, 0.6);
$support-background-color: #f5f4fa;
$header-border-color: rgba(236, 236, 236, 1);
$portfolio-product-border-color: rgba(238, 238, 238, 1);
$overlay-slogan: rgba(47, 48, 58, 0.4);
$team-social-icon-color: #afb1b8;
$footer-social-bg-color: rgba(255, 255, 255, 0.1);
$portfolio-card-border-color: #eee;
$product-label-bg-color: rgba(33, 150, 243, 0.9);

$fonts-main: Roboto, Verdana, Tahoma, sans-serif;


$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
